<mat-toolbar class="w-auto mx-auto border-x justify-between">
  <a routerLink="home">DashBoard </a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="movieQuantity"
      [matBadgeHidden]="!movieQuantity"
      matBadgeColor="accent"
      class="mat-icon notranslate mat-badge"
      aria-hidden="false"
      >list_alt</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ movieQuantity }} movie</span>
        <a routerLink="wishlist"> View WatchList</a>
      </div>
      <div *ngIf="wishList.movies.length" class="py-3">
        <div
          *ngFor="let movie of wishList.movies"
          class="flex justify-between mb-2 font-bold"
        >
          {{ movie.name }}
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">
          {{ movieQuantity }}
        </span>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
